
<div class="container">
<% movieinfo = JSON.parse((Tmdb::Movie.detail(params[:id])).to_json) %>
<% pp movieinfo %>
    <div class="card-wrapper">
            <div class="card">
                <div class="card-upperinfo">
                    <%if movieinfo['table']['title'].present?%>
                        <h3><%= movieinfo['table']['title'] %></h3>
                    <%end%>

                    <% if movieinfo['table']['release_date'].present? %>
                        <p class="release-date"><%= movieinfo['table']['release_date'] %></p>
                    <%end%>
                </div>

                <% if movieinfo['table']['poster_path'].present? %>
                    <p><%= image_tag 'https://image.tmdb.org/t/p/w1280' + movieinfo['table']['poster_path'] %></p>
                <%end%>

                   <% if movieinfo['table']['overview'].present? %>
                        <p class="release-date"><%= movieinfo['table']['overview'] %></p>
                    <%end%>
            </div>
    </div>
</div>